img{

    height: 100px;
    width: 200px;
    text-align: center;
}

h1{
  text-align: center;


}
.spot{
  border: 5px solid green;
  margin: 10px 20px;
  
  padding: 30px 30px;
  height: 300px;
  width: 500px;


}